{% extends "base.jinja.html" %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container-md">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum inventore, aspernatur hic quibusdam tempora possimus eos nobis delectus incidunt cum voluptate earum velit nostrum magni nihil a provident totam blanditiis reprehenderit, sint eveniet eum maiores odit? Quas amet inventore nostrum laudantium rem similique sapiente ipsum consequatur eos dolores officia recusandae sit dignissimos explicabo voluptatem expedita tempora illo iusto, ducimus natus porro repellendus. Et, ut. Ipsam deserunt delectus nulla reiciendis quia accusantium neque dignissimos, tenetur iure unde quam exercitationem ipsa corporis laboriosam atque ullam reprehenderit iusto illo saepe! Recusandae, blanditiis quam saepe molestiae ipsam voluptas fuga alias. Libero quod expedita vero!
</div>
{% endblock %}